@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 


.products{
    @include grid(center, 2rem, 5);
    overflow-x: hidden;
    padding: 2.5rem;
    background-color: #deecdd;

    @media (max-width: 114.375rem) {
        grid-template-columns: repeat(4, 1fr);
      }
    
      @media (max-width: 92.5rem) {
        grid-template-columns: repeat(3, 1fr);
      }
    
      @media (max-width: 70.625rem) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 48rem) {
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
      }
    }


.all__our__products{
    background-image: linear-gradient(to bottom, #c1dfc4 0%, #deecdd 100%);
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2.2rem;
}

