@use '../modules/global&pages' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

.card {
    @include flex(flex-start, flex-start, column nowrap, 0.5rem);
    @include width-height(15rem, 18rem);
    @include margin-padding(0rem, 0.8rem);
    @include border-radius(2px solid $gray-4, 1rem);
    color: $gray-1;
    background-color: $white;
    box-shadow: 3px 3px 5px $gray-3;

    // &__title {

    // }

    // &__rating {

    // }

    // &__description {

    // }

    // &__price {

    // }

    &__btn {
        @include border-radius(none, 999rem);
        @include font($white, 1rem, 600);
        padding: 0.7rem 2rem;
        background-color: $btn-yellow;
        transition: 200ms ease-in-out;
        
        &:hover {
            cursor: pointer;
            background-color: $btn-yellow-hover;
            transform: scale(1.05);
        }
    }
}
