@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

.card {
    @include flex(space-between, flex-start, column nowrap, 0.8rem);
    @include width-height(20rem, 34rem);
    @include margin-padding(0rem, 1rem);
    @include border-radius(2px solid $gray-4, 1rem);
    color: $gray-1;
    background-color: $white;
    box-shadow: 3px 3px 5px $gray-3;


    &__image {
        @include width-height(17.8rem, 10rem);
        object-fit: contain;
        padding: 0.3rem;
    }

    &__content {
        @include flex-dir-gap(column, 0.8rem);
        flex: 1;
        color: $gray-1;

        &__title {
            font-size: 1.3rem;

        }
    
        // &__rating {
    
        // }
    
        // &__description {
    
        // }
    
        // &__price {
    
        // }
    }

    &__btn {
        @include border-radius(none, 999rem);
        @include font($white, 1rem, 600);
        padding: 0.7rem 2rem;
        background-color: $btn-yellow;
        transition: 200ms ease-in-out;
        
        &:hover {
            cursor: pointer;
            background-color: $btn-yellow-hover;
            transform: scale(1.05);
        }
    }
}
