@use '../modules/global&pages' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *;

.navbar{
    @include flex(center, center, row nowrap, 2rem);
    background-color: $primary;
    height: 9vh;
    font-size: 1.8rem;
    font-weight: 600;

    &__a {
        color: $white;
    }

    @keyframes oscillate {
        0%, 100% {
          transform: rotate(-1deg);
        }
        50% {
          transform: rotate(1deg);
        }
      }

    .active{
        color: $btn-yellow;
        animation: oscillate 1s infinite cubic-bezier(0.42, 0, 0.58, 1);
      }
}




