@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *;

.navbar{
    @include flex(center, center, row nowrap, 2rem);
    background-color: $primary;
    height: 9vh;

    &__a {
        @include font($white, 1.8rem, 500);
        transition: 150ms ease-in-out;

        &:hover {
          color: $gray-4;
        }
    }

    @keyframes oscillate {
        0%, 100% {
          transform: rotate(-2deg);
        }
        50% {
          transform: rotate(2deg);
        }
      }

    .active{
        color: $btn-yellow;
        animation: oscillate 1s infinite cubic-bezier(0.42, 0, 0.58, 1);
      }
}




