// VARIABLES MODULE

$primary: #003F62;

$bg: rgb(246, 246, 246);
$btn-yellow: #EDA415;
$btn-yellow-hover: #d48e04;

$black: #000000;
$gray-1: #333333;
$gray-2: #666666;
$gray-3: #999999;
$gray-4: #CCCCCC;
$gray-5: #eeeeee;
$white: #FFFFFF;



$RS_1of3_title: #003F62;
$RS_1of3_price: #4A4A4A;
$RS_1of3_av_green: #30BD57;
$RS_1of3_av_red: #FF0000;

$RS_2of3_quantity-bg: #EEEEEE;
$RS_2of3_quantity-border: #BDBDBD;

$RS_3of3_btn-bg: #EDA415;
$RS_3of3_icon-bg: #EEEEEE;

$horizontal_line: #BDBDBD;

$light-gray: #5D5D5D;
$dark-gray: #232323;




